/* ==========================================================================
   Offcanvas trigger
   ========================================================================== */

.c-offcanvas-trigger {
	position: relative;
	display: block;
	width:55px;
	// right: $grid-container;
    // right: var(--grid-container);
	// width: auto;
	// height: 80px;
	margin: 0;
	color: transparent;
	transform: perspective(1px) translateZ(0);
	transition: all 0.2s ease-in-out;
	overflow: hidden;
	z-index: 99;


	svg:hover .st0{
		fill: #6EEBFD;
	}
}

.c-offcanvas-trigger-open {
	display: block;
}

.c-offcanvas-trigger-close{
	display:none;
	position:absolute;
	right: 50px;
	top: 55px;
}

/* ==========================================================================
   Offcanvas nav main container
   ========================================================================== */

.c-offcanvas-nav {
	/*display: none;*/
	position: absolute;
	top: 0;
	right: 0;
	background-color: $bg-light;
    background-color: var(--bg-light);
	color: var(--text-color);
	z-index: 10;
	width: 0;
	height: 0;
	overflow-y: auto;
	transition: height .2s ease-out 0s;
	background: #EFEFEF 0% 0% no-repeat padding-box;
	box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
}

#open-navigation.navigation .c-offcanvas-nav,
#open-navigation:not(:target) .c-offcanvas-nav {
    border: 0;
    // clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 1px;
    white-space: nowrap;
}

.c-offcanvas-inner {
	position: relative;
	width: 100%;
	// min-height: 100vh;
	overflow-y: auto;
}

/* ==========================================================================
   Offcanvas Content
   ========================================================================== */
.c-offcanvas-content {
	padding-top: 6rem;
}

.c-offcanvas-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

// .c-offcanvas-nav-list li + li {
// 	padding-top: 0.75em;
// }


.c-offcanvas-nav-list{
	a{
		display: inline-block;
		position: relative;
		padding-bottom: 0.25em;
		font-size: 1.33rem;
		font-weight: 500;
		color: $color-highlight;
	
		&:hover{
			text-decoration: underline;
		}
	}

	.c-active a{
		text-decoration: underline;
	}

	&.submenu{
		margin-top: 2rem;
		a{
			font-size: 1rem;
		}

		li{
			width:45%;
			float: left;
		}
	}
}

/* ==========================================================================
   Offcanvas nav open
   ========================================================================== */

#open-navigation.open,
#open-navigation:target {

    position: relative;
    // top: auto;
    // height: auto;
    // overflow: hidden;
    // width: 100%;
	// height: 100%;

	.c-offcanvas-nav {
		width: 700px;
		height: 900px;
		overflow-y: auto;
		scrollbar-width: none; 
	}
	
	.c-offcanvas-trigger-open {
		// display: none;
	}
	.c-offcanvas-trigger-close{
		display: block;
	}

}

@media only screen and (max-width:600px) { 

	.c-offcanvas{
		margin-right: -1rem;
	}

}