/* ==========================================================================
   Viewport
   ========================================================================== */

@-ms-viewport {
	width: device-width;
}

/* ==========================================================================
   Mediaqueries
   ========================================================================== */


@media only screen and (min-width:1800px) {
   	.c-container-postlisting{
    	padding: 0 2rem;
	}

	.c-container {
        max-width: 1420px;
        margin-left: auto;
		margin-right: auto;
    }

	.c-teaser-posts{
		max-width: 1520px;
	}
}

@media only screen and (max-width:1800px) {  


	.c-container {
        max-width: 1220px;
        margin-left: auto;
		margin-right: auto;
    }

	.c-teaser-posts{
		max-width: 1420px;
	}
}

@media only screen and (max-width:1400px) {  
	.c-container {
        max-width: 1020px;
        margin-left: auto;
		margin-right: auto;
    }

	.c-teaser-posts{
		max-width: 1220px;
	}
}

@media only screen and (max-width:1200px) {  
	.c-container {
        max-width: 820px;
        margin-left: auto;
		margin-right: auto;
    }

	.c-teaser-posts{
		max-width: 1020px;
	}
}

/* header show offcanvas */
@media only screen and (max-width:1000px) {  
	body.home header{
		margin-bottom:2rem;
	}
	.c-hide-mobile{
		display: none;
	}
	.c-hide-desktop{
		display: block;
	}
	.c-header{
		height: auto;
	}
	.c-teaser-home{
		h3.c-title-small{
			margin-top: 2rem;
		}
	}

	.c-header-logo{
		width: 250px;
		height: auto;
		margin-left: -2rem;		
	}
	.c-container-wide{
		&.c-main-title-img{
			padding: 0 1rem;
		}
	}

	.c-teaser-posts{
		margin-left:-2rem;
		margin-right:-2rem;
		padding: 1rem 0;
		border-radius: 0;

		article{
			padding-top: 0;
		}

		&.large{
			border-radius: 0;
		}

		&.color{
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		figure{
			margin-bottom: 2rem;
		}
	}

	.c-col-2,.c-col-3,.c-col-4,.c-col-6,.c-col-8,.c-col-12{
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;  
		// margin-bottom: 2rem;
	}

	#open-navigation.open,
	#open-navigation:target{
		// overflow: hidden;
		.c-offcanvas-nav{
			height: 100vh;
			overflow-y: auto;
			width: 100%;
		}
	}

	.c-footer{
		.c-form-item{
			margin-top: 1rem;
			padding-top: 1rem;
			border-top: 1px white solid;
			border-bottom: 1px white solid;
			// padding-bottom: 0px;
			margin-bottom: 1rem;
		}
		.c-footer-disclaimer-list{
			margin-left: 0;
		}
	}
	.wpcf7-form-control{
		max-width: 325px;
	}

	.c-team-list{
		figure{
			margin-bottom: 0;
		}
		p{
			margin-bottom:2rem;
		}
	}

}
