/* ==========================================================================
   Base
   ========================================================================== */
html {
	font-size: 24px;
}

/* ==========================================================================
   Titles
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	color: $color-highlight;
}

h1,
.c-h1 {
	padding-bottom: .5em;
	line-height: 1.1;
	font-size: 2rem; /* 80px */
	font-weight: var(--font-weight-bold);
}

h2,
.c-h2 {
	padding-bottom: .5em;
	line-height: 1.2;
	font-size: 2rem; /* 40px */
	font-weight: var(--font-weight-bold);
}

h3,
.c-h3 {
	line-height: 1.5;
	font-size: 1.6rem;
	padding-bottom: 0.5em;
	font-weight: var(--font-weight-bold);
}

/* ==========================================================================
   Basic Text Content
   ========================================================================== */

.c-content,
.c-footer {
	line-height: 1.5;
}

.c-text-block p {
	padding-bottom: 1.5em;
}

.c-text-block p + h2,
.c-text-block p + h3,
.c-text-block p + h4,
.c-text-block ul + p,
.c-text-block ul + h2,
.c-text-block ul + h3,
.c-text-block ul + h4,
.c-text-block ul + ol,
.c-text-block ol + p,
.c-text-block ol + h2,
.c-text-block ol + h3,
.c-text-block ol + h4 {
	padding-top: 1.5em;
}

.c-lead {
	font-size: 1.33rem;
	line-height: 1.33;
	color: $color-highlight;
	margin-bottom: 1.5em;
	font-weight: $font-weight-big;

	a{
		color: $color-highlight;
		&:hover{
			text-decoration: underline;
		}
	}
}

.c-lead-small {
	font-size: 1rem;
	line-height: 1.33;
	color: $color-highlight;
	font-weight: $font-weight-big;
}

.c-alert{
	padding: 1rem;
	border-radius: 53px;
	margin-bottom: 1.5em;
	color: $color-highlight;
	font-weight: $font-weight-big;
	background-color: $color-alert;
}

.c-teaser-posts,
.c-teaser-home{
	h3{
		line-height: 1;
		margin-top:-0.3rem;
		padding-bottom: 0.2rem;
	}

	.c-lead-small{
		display: inline-block;
		margin-bottom: 1rem;
	}
}



.c-teaser-posts{
	color: $text-color;
	border-radius: 150px;
	padding: 2rem;

	h3,.c-lead{
		color: $text-color;
	}
	.c-lead{
		display: block;
		margin-bottom: 1rem;
	}

	// &.left{
	// 	margin-right: 4rem;
	// 	margin-left: 0rem;
	// 	transition: margin 0.5s ease;

	// 	&:hover{
	// 		margin-right: 0rem;
	// 		margin-left: 4rem;
	// 	}
	// }

	// &.right{
	// 	margin-right: 0rem;
	// 	margin-left: 4rem;
	// 	transition: margin 0.5s ease;

	// 	&:hover{
	// 		margin-right: 4rem;
	// 		margin-left: 0rem;
	// 	}
	// }

	&.large{
		h4{
			color: $text-color;
			border-bottom: 2px solid $text-color;
			margin-bottom: 1rem;
		}

		.infos{
			font-size: 0.83rem;
		}
	}
}

.c-teaser-text{
	font-size: 1rem;
	color: $color-highlight;
}

.c-text-small,
.c-text-block blockquote cite {
	font-size: 0.77rem; /* 14px */
}

.c-legend {
	display: block;
	padding-top: 1em;
}

.c-text-medium{
	font-size: 0.83;
}

.c-footer-disclaimer {
	font-size: 0.88rem; /* 18px */
}

.c-text-block{
	&.bubble{
		color: $text-color;

		h2{
			font-size: 1.66rem;
			color: $text-color;
		}
		h3{
			font-size: 1.33rem;
			color: $text-color;
			padding-top: 0;
		}
		.c-lead{
			color: $text-color;
			padding-bottom: 0;
		}

		&.color{
			border-radius: 150px;
			padding: 2rem;
		}
	}
}

.c-team{
	color: $text-color;
	border-radius: 150px;
	padding: 2rem;
	background-color: #F2F2F2;
	h2,h3,.c-lead{
		color: $text-color;
	}
	h2{
		font-size: 1.66rem;
	}
	h3{
		font-size: 1rem;
		padding-top: 0.5rem;
		padding-bottom: 0rem;
	}
	.c-lead{
		color: $text-color;
		font-size: 1rem;
		display: inline-block;
		padding-bottom: 0rem;
		margin-bottom: 0rem;
	}
	p{
		font-size: 0.66rem;
	}

	.c-team-list{
		margin-top: 2rem;
		.c-lead{
			font-size: 0.83rem;
		}
	}
}

/* ==========================================================================
   Basic Lists Content 
   ========================================================================== */

.c-text-block ul,
.c-text-block ol {
	margin: 0;
	padding: 0 0 1.5em 0;
	list-style: none;
}

.c-text-block ul li,
.c-text-block ol li {
	position: relative;
	padding-left: 34px;
	list-style: none;
}

.c-text-block ul li + li,
.c-text-block ol li + li {
	margin-top: 0.5em;
}

.c-text-block ul li::before {
	content:'';
	position: absolute;
    top: 0.8em;
    left: 0;
    width: 12px;
    height: 3px;
    border-radius: 0;
    background-color: $text-color;
    background-color: var(--text-color);
}

.c-text-block ol {
	counter-reset: custom-counter;
}

.c-text-block ol li {
	counter-increment: custom-counter;
}

.c-text-block ol li::before {
	content: counter(custom-counter) ". ";
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	color: $text-color;
	font-weight: bold;
    font-weight: var(--font-weight-bold);
	text-align: right;
}

/* ==========================================================================
   Quote
   ========================================================================== */

.c-text-block blockquote {
	margin: 0;
	padding: 0 0 3rem 0;
}

.c-text-block blockquote p {
	position: relative;
	padding: 2.6rem 0 0 0;
	line-height: 1.25;
	font-size: 2.22rem; /* 40px */
	font-weight: 300;
}

.c-text-block blockquote p::before {
	content: '\201C';
	display: block;
	position: absolute;
	left: -31px;
	top: -2.8rem;
	font-size: 14.44rem;
	color: $border-basic;
    color: var(--border-basic);
	font-weight: bold;
    font-weight: var(--font-weight-bold);
	z-index: -1;
}

.c-text-block blockquote cite {
	padding-top: 1.5em;
	font-style: normal;
}

/* ==========================================================================
   Text helpers
   ========================================================================== */

.c-text-right {
	text-align: right;
}

.c-text-center {
	text-align: center;
}

.c-text-light {
	color: $text-color-light;
    color: var(--text-color-light);
}

/* ==========================================================================
   Text sizes responsive
   ========================================================================== */

@media only screen and (max-width:1360px) {
	h1, .c-h1,
	h2, .c-h2,
	h3, .c-h3{
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
}

@media only screen and (max-width:767px) {

	html {
		font-size: 16px;
	}

	h1, .c-h1 {
		font-size: 2rem;
	}

	h2, .c-h2 {
		font-size: 1.5rem;
	}

	.c-lead,
	h3, .c-h3 {
		font-size: 1.125rem;
	}

	.c-text-small,
	.c-legend {
		font-size: 0.875rem;
	}
    
    :root {
        --text-small-form: 0.875rem;
    }


}


